
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAF9F6;
  --foreground: #1c1917;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

/* Custom Selection Color for Premium Feel */
::selection {
  background-color: #C5A059;
  color: white;
}

/* Utilities */
.text-balance {
  text-wrap: balance;
}

/* Hide scrollbar for clean horizontal scrolls */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
